/* styles.css */

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
}

/* Header styles */
header {
    background-color: #333;
    color: #1a1a1a;
    padding: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    font-size: 2em;
    color: #00bcd4;
}

h2 {
    margin-top: 5px;
    font-size: 1.5em;
    color: #00bcd4;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #3498db;
}

nav li.active a {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Main content styles */
main {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
}

h1, h2 {
    color: #00bcd4;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    width: calc(33.33% - 20px);
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #00bcd4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.category-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00bcd4;
    display: block;
    margin: 0 auto;
    background-color: #333;
}

.category-title {
    font-weight: bold;
    color: #00bcd4;
    max-height: 40px;
    overflow: hidden;
    margin: 10px 0 0 0; /* Змінено маржу */
    text-align: center;
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.9);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.category-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(26, 26, 26, 0.9);
    box-sizing: border-box;
}

.like,
.share {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #00bcd4;
}

.like i,
.share i {
    margin-right: 5px;
}


/* Modal styles */
.modal {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #1a1a1a;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #00bcd4;
    width: 80%;
}

.close {
    color: #00bcd4;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Адаптивні стилі для темного фону та бірюзових кольорів */
@media only screen and (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }

    main {
        padding: 10px;
    }

    .category {
        width: calc(50% - 20px);
    }

    .category-image {
        max-width: 100%;
        height: auto;
    }

    .modal-content {
        width: 90%;
    }
}
