body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Автоматичний розподіл категорій */
    grid-gap: 20px; /* Відступ між категоріями */
    max-width: auto; /* Змінили max-width на auto */
    margin: 0 auto;
    justify-content: center; /* Додали центрування */
}

.category {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-width: 100%; /* Нова зміна */
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* або object-fit: cover; */
    object-position: center;
    transition: filter 0.3s ease-in-out;
}

.category-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-title {
    background-color: rgba(0, 0, 0, 1);
    padding: 15px; /* Збільште розмір */
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.category-actions {
    background-color: rgba(0, 0, 0, 1);
    padding: 10px; /* Збільште розмір */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.category-actions span {
    margin: 0 10px; /* Збільште розмір */
    font-size: 20px; /* Збільште розмір */
    color: #fff;
    cursor: pointer;
}

.category:hover .category-title,
.category:hover .category-actions {
    opacity: 1;
    transform: translateY(0);
}

/* Медіазапит для екранів шириною менше 768 пікселів (мобільні пристрої) */
@media screen and (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr; /* Одна категорія на рядок на малих екранах */
    }

    .category {
        width: 100%; /* Ширина категорії на всю ширину екрану */
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
